        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            border-collapse: collapse;
            text-align: center;
        }

        th, td:first-child {
            background: #AFCDE7;
            color: white;
            padding: 10px 20px;
        }

        th, td {
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }
        
        td {
            background: #D8E6F3;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .ui-helper-hidden-accessible{
            display: none;
        }
         li{
            background-color: white;
            border: 1px solid blue;
            border-bottom: 1px solid blue;
            list-style-type: none;
            

        }